.main-nav
    background: $accent
    position: absolute
    top: 0
    right:0
    left: 100%
    overflow: hidden
    font-size: 1.2rem
    
    

    ul 
        display: flex
        flex-direction: column
        justify-content: space-around
        text-align: center
        height: 100vh
        padding-left: 0
        margin: 0 0

    li
        flex: 1 1 auto
        margin-bottom: 0
        border-bottom: 1px solid rgba(0, 0, 0, .15)
        display: flex
        align-items: center
        justify-content: center

    a
        color: $text-inverse
        text-decoration: none

// Hamburger Menu

.nav-toggle
    display: block
    
    padding: 1em
    position: absolute
    right: 1em
    top: 1em
    cursor: pointer

.hamburger, .hamburger::before, .hamburger::after
    content: ''
    display: block
    width: 2em
    height: 3px
    background: $white

.hamburger::before
    transform: translateY(-6px)

.hamburger::after
    transform: translateY(3px)